.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.hidden {
  display: none;
}

.centrado {
  font-family: monospace;
  letter-spacing: 1px;
  text-align: center;
  font-size: 18px;
}

#title {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-shadow: 4px 2px 10px #00BCD4;
}

#resultados {
  margin: 10px auto;
  width: 600px;
  background: #fafafa;
  padding: 20px;
}

#resultados p {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

#resultados p span {
  font-weight: 300;
}

#resultados.awesome {
  -webkit-animation: changebackground 1s infinite;
  -moz-animation: changebackground 1s infinite;
  -o-animation: changebackground 1s infinite;
  animation: changebackground 1s infinite;
}

#resultados.awesome p.animation-1 {
  -webkit-animation: animation1 .3s infinite;
  -moz-animation: animation1 .3s infinite;
  -o-animation: animation1 .3s infinite;
  animation: animation1 .3s infinite;
}

#resultados.awesome p.animation-2 {
  -webkit-animation: animation2 .3s infinite;
  -moz-animation: animation2 .3s infinite;
  -o-animation: animation2 .3s infinite;
  animation: animation2 .3s infinite;
}

#resultados.awesome p.animation-3 {
  -webkit-animation: animation3 .5s infinite;
  -moz-animation: animation3 .5s infinite;
  -o-animation: animation3 .5s infinite;
  animation: animation3 .5s infinite;
}

#resultados.awesome p.animation-4 {
  color: white;
  font-size: 50px;
  position: absolute;
  font-weight: bolder;
  -webkit-animation: animation4 .5s infinite;
  -moz-animation: animation4 .5s infinite;
  -o-animation: animation4 .5s infinite;
  animation: animation4 .5s infinite;
}

#resultados.awesome p.animation-5 {
  font-size: 30px;
  -webkit-animation: animation5 1s infinite;
  -moz-animation: animation5 1s infinite;
  -o-animation: animation5 1s infinite;
  animation: animation5 1s infinite;
}

#resultados.awesome p.animation-6 {
  color: deeppink;
  -webkit-animation: animation6 2s infinite;
  -moz-animation: animation6 2s infinite;
  -o-animation: animation6 2s infinite;
  animation: animation6 2s infinite;
}

#resultados.awesome p.animation-7 {
  -webkit-animation: animation7 1.5s infinite;
  -moz-animation: animation7 1.5s infinite;
  -o-animation: animation7 1.5s infinite;
  animation: animation7 1.5s infinite;
}

#resultados.awesome p.animation-8 {
  font-weight: bolder;
  -webkit-animation: crazyImg 1s linear infinite;
  -moz-animation: crazyImg 1s linear infinite;
  -o-animation: crazyImg 1s linear infinite;
  animation: crazyImg 1s linear infinite;
}

#resultados.awesome p.animation-9 {
  -webkit-animation: changebackground .3s infinite;
  -moz-animation: changebackground .3s infinite;
  -o-animation: changebackground .3s infinite;
  animation: changebackground .3s infinite;
}

#resultados img {
  border-radius: 0;
}

#resultados.awesome img.profile {
  border-radius: 50%;
  -webkit-animation: crazyImg .3s linear infinite;
  -moz-animation: crazyImg .3s linear infinite;
  -o-animation: crazyImg .3s linear infinite;
  animation: crazyImg .3s linear infinite;
}

#resultados.awesome img.ribbon {
  -webkit-animation: animation-ribbon 5s linear infinite;
  -moz-animation: animation-ribbon 5s linear infinite;
  -o-animation: animation-ribbon 5s linear infinite;
  animation: animation-ribbon 5s linear infinite;
}

@keyframes changebackground {
  0% {
    background: red;
  }
  10% {
    background: greenyellow;
  }
  20% {
    background: yellow;
  }
  30% {
    background: deepskyblue;
  }
  40% {
    background: turquoise;
  }
  50% {
    background: deeppink;
  }
  60% {
    background: blueviolet;
  }
  70% {
    background: forestgreen;
  }
  80% {
    background: lightyellow;
  }
  90% {
    background: darkorange;
  }
  100% {
    background: red;
  }
}

@-webkit-keyframes changebackground {
  0% {
    background: red;
  }
  10% {
    background: greenyellow;
  }
  20% {
    background: yellow;
  }
  30% {
    background: deepskyblue;
  }
  40% {
    background: turquoise;
  }
  50% {
    background: deeppink;
  }
  60% {
    background: blueviolet;
  }
  70% {
    background: forestgreen;
  }
  80% {
    background: lightyellow;
  }
  90% {
    background: darkorange;
  }
  100% {
    background: red;
  }
}

@keyframes crazyImg {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes crazyImg {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes animation1 {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes animation2 {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animation3 {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes animation4 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes animation5 {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes animation6 {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes animation7 {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg) scale(3);
    opacity: 0;
  }
}

@keyframes animation-ribbon {
  from {
    transform: scale(1);
  }

  50% {
    transform: skewX(50deg) scale(3) translateX(-100vh) translateY(100px);
  }

  to {
    transform: skewX(0deg) scale(1) translateX(0);
  }
}